*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.rtab,
html {

  font-size: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  line-height: 1.333;
  background-color: #fff;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 1px rgba(0,0,0,0.6), 1px 1px 2px rgba(0,0,0,0.35);
  -webkit-font-smoothing: antialiased;
  
  }
  
  
.background {
	
  height: 100%;
  width: 100%;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s;
  z-index:100;
   
}

.info {
	text-align:right;
	z-index: 1000;
	position: absolute;
	bottom:50px;
	right:50px;
	padding:0px;
	font-size:120%;
	opacity:0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}
.info:hover {opacity:1 !important;}
a { color:#FFF; text-decoration: none;}


a.options { position: absolute; bottom:5px; right: 10px; opacity:0.5;  font-size:70%; }
a.options:hover { opacity: 1;}

.top_sites { background: #000; width: 100%; padding: 10px 30px 10px; overflow: hidden; display: none; }

.top_sites .site_container { float: left; width: 17%; position: relative; z-index: 1000; display: inline-block; border-right: 1px dotted #727272; height: 50px;}
.top_sites .site  {  color: #FFF;  padding: 10px; width: 100%; overflow: hidden;  font-size: 90%; }
.top_sites .url { font-size: 80%; color: rgba(204,204,204,0.60); }
.top_sites .site_container:last-child { border: none; }

/* Settings Page */

body.options { background: #EEE; margin: 0; padding: 0;  height: 100%; width: 100%; position: absolute;}


body.options h1 { margin-left: 100px; margin-top:100px; color: #000; text-shadow: none;}
body.options label { text-shadow: none !important; color:#000000;}
body.options h1 a { color:#000000; }
.subreddit-list { padding-left: 50px; margin-top: 30px !important; text-shadow: none; color: #000000; font-size: 170%; font-weight: normal; margin-bottom:-40px;}

section { background: #FFF; margin-left: 100px; margin-right: 100px; box-shadow: 5px 5px 5px #dcdcdc;}

.option { font-size:170%; color: #000; text-shadow: none; font-weight: normal; width: 100%; border-bottom: 1px solid #CCC; padding: 25px; box-sizing: border-box;}
.option label { width: 100%; position: relative; cursor: pointer;}
.option input { margin-right: 10px; font-size: 100px;}
.option button { padding: 10px; background: #FFF; border: 1px solid #CCC; border-radius: 5px; font-size: 100%; font-weight: normal; float: left;}
.option #status { float: left; margin-left: 10px; margin-top: 5px;}
.author { font-size:70%; }